{% extends "base.html"  %}
{% block nav %}
<nav>
  <div class="nav-contents">
    <div class="section_links">
      <ul class = "navigation">
        <li class = "active" ><a href="https://hackinout.co">HOME</a></li>
      </ul>
    </div> <!-- End of section_links -->
    <div class="social_links">
      {% if user %}
      <a href = "/accounts/logout"><i class="fa fa-power-off fa-2x social_icon"></i></a>
      {% endif %}
      <a href = "https://www.facebook.com/inout.svnit" target = "_blank"><i class="fa fa-facebook fa-2x social_icon"></i></a>
      <a href = "https://twitter.com/inout_svnit" target = "_blank"><i class="fa fa-twitter fa-2x social_icon"></i></a>
      <a href = "https://medium.com/@InOut" target = "_blank"><i class="fa fa-medium fa-2x social_icon"></i></a>
    </div> <!-- End of social_links -->
  </div> <!-- End of nav-contents -->
</nav>
<div class="mobile-nav">
  <div id="toggle">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
  </div>
  <ul id="mobile-menu" class="hide-menu navigation">
    <li class = "active" ><a href="https://hackinout.co">HOME</a></li>
  </ul>
</div>
{% endblock %}
{% block content %}

<!-- Change the width and height values to suit you best -->
<div class="typeform-widget" data-url="https://vikas30.typeform.com/to/p11rht" data-text="RSVP Form" style="width:100%;height:90vh;"></div>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
    {# <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="http://www.typeform.com/?utm_campaign=typeform_p11rht&amp;utm_source=website&amp;utm_medium=typeform&amp;utm_content=typeform-embedded&amp;utm_term=English" style="color: #999" target="_blank">Typeform</a></div> #}

{% endblock %}