// Section colors
$bg_color_main_section : #223241;
$bg_color_about_section :#1A252F;
$bg_color_faq_section : #40626D;
$bg_color_schedule_section : #224252;
$bg_color_sponsors_section : #FFFFFF;
$bg_color_footer : #0E1720;

$bg_color_secondary_dark : #3C3F47;
$color_button_apply : #ffffff;
$color_button_contact : lighten(#101820, 10%);
$color_logo : #F9C032;


$width_content : 79%;
$max_width_content : 1200px;
$max_height_main_section : 900px;
$min_height_main_section : 700px;

// Breakpoints 
$first_breakpoint : 880px;
$second_breakpoint : 720px;
$third_breakpoint : 600px;
$fourth_breakpoint : 485px;
$schedule_card_breakpoint : 994px;
$schedule_card_span_all : 454px;